.dance-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  z-index: 3;
}

.container {
  border-top: 5px var(--beige);
  overflow: hidden;
}

.right-border {
  width: 20px;
  background-color: var(--blue);
  height: 100%;
  position: absolute;
  right: 0;
  top: 120px;
  bottom: 0;
}

.top-border {
  height: 20px;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 60px;
  right: 120px;
}

.gradient-holder {
  height: 100%;
  position: absolute;
  left: 0;
}

.left-gradient {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  width: 40px;
  transition: all .2s ease;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(255,239,230,1) 0%, rgba(255,239,230,0) 100%);
}

.left-gradient h1 {
  color: var(--beige);
  transform: rotate(-90deg);
  letter-spacing: 2px;
  z-index: 1;
}

.left-gradient:hover {
  width: 120px;
}

.left-gradient:hover > h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--beige);
}

.left-gradient:active {
  filter: brightness(0.8);
}

.left-top {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: var(--blue);
  transition: all .2s ease;
  cursor: pointer;
}

.left-top:hover {
  filter: brightness(1.5);
}

.left-top:active {
  filter: brightness(0.8);
}

.left-top img {
  width: 30px;
  height: 30px;
}

.right-top {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 30px;
  background-color: var(--blue);
  transition: all .2s ease;
  cursor: pointer;
}

.right-top:hover {
  filter: brightness(1.5);
}

.right-top:active {
  filter: brightness(0.8);
}

.right-top img {
  width: 100%;
}

.center-piece {
  position: absolute;
}

.center-piece h1 {
  font-size: 72px;
  -webkit-text-stroke: 2px var(--beige);
  -webkit-text-fill-color: transparent;
  letter-spacing: 10px;
  text-align: center;
}

.tonight-container {
  background-color: var(--beige);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tonight-container h1 {
  font-size: 36px;
  color: var(--blue);
  -webkit-text-stroke: 0px var(--beige);
  -webkit-text-fill-color: inherit;
  letter-spacing: inherit;
  margin-top: 20px;
  text-transform: uppercase;
}

.date-container {
  background-color: var(--blue);
  padding: 20px;
  color: var(--beige);
  font-weight: var(--bold);
  font-size: 18px;
  text-align: center;
}

.tickets-button {
  margin: 20px auto 0px auto;
}
