@media only screen
  and (min-width: 320px)
  and (max-width: 600px) {

    /* iPhone's and devices leading up to the iPad */

    .menu {
      flex-direction: column;
      height: 100px;
      align-items: center;
      padding: 10px 0px 10px 0px;
      /* aanpassen zodat de padding hide als het menu dicht geklapt is */
    }

    .right-border {
      display: none;
    }

    .left-gradient {
      transform: rotate(90deg);
      background-size: 0 0;
      margin-top: 215px;
      /* ik probeer een 20% margin-bottom te doen maar hij reageert alleen op px */
    }

    .gradient-holder {
      right: 42%;
      /* Dit is waarschijnlijk niet de goede manier om te centeren. Op Iphone klopt het wel. */
    }
  }

@media only screen
  and (min-width: 601px)
  and (max-width: 1024px) {

    .left-gradient {
      transform: rotate(90deg);
      background-size: 0 0;
      margin-top: 350px;
    }

    .gradient-holder {
      right: 46%;
      /* Dit is waarschijnlijk niet de goede manier om te centeren. Op Iphone klopt het wel. */
    }
  }
